<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ='stylesheet' href="style.css">
</head>
<body>
    <h1>this is login page</h1>
    <h2>Login</h2>

    <form action = '' method = 'post'>
        User Name : <input type = 'text' name="uname"><br><br>
        Password: <input type = 'password' name="pass"><br><br>
        <button type="submit">Login</button>
        <h4>Not registered.</h4> <a href="/register">Register Here</a>
    </form>

</body>
</html>