<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ='stylesheet' href="/style.css">
</head>
<body>
    <h1>this is register page</h1>
    <h2>Register</h2>
    <form action = "/register" method = 'post'>
        User Name : <input type = 'text' name = 'uname'><br><br>
        Password : <input type = 'password' name = 'pass'><br>
        <button type = "submit">Register</button>
    </form>
</body>
</html>